<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yearjane.dao.GoodsDao">
	<resultMap type="goodsType" id="goodsTypeResultMap">
		<id column="typeid" property="typeid" />
		<result column="typename" property="typename" />
		<result column="add_time" property="addTime" />
		<result column="update_time" property="updateTime" />
		<result column="operator_name" property="operatorName" />
		<result column="isdeleted" property="isdeleted" />
		<association property="parent" javaType="goodsType"
			column="parent_id"  fetchType="eager" select="com.yearjane.dao.GoodsDao.queryGoodsType">
		</association>
	</resultMap>
	 
	<resultMap type="goodsInfo" id="goodsInfoResultMap">
	   <id column="id" property="id"/>
	   
	   <result column="goods_name" property="goodsname" />
	   <result column="image_path" property="imagePath" />
	   <result column="introduce" property="introduce" />
	   <result column="now_price" property="nowPrice" />
	   <result column="old_price" property="oldPrice" />
	   <result column="create_time" property="createTime" />
	   <result column="update_time" property="updateTime" />
	   <result column="sell_count" property="sellCount" />
	   <result column="isenable" property="isenable" />
	   <result column="clickcount" property="clickCout" />
	   <result column="stock" property="stock" />
	   <result column="operator_name" property="operatorName" />
	   <result column="isdeleted" property="isdeleted" />
	   <association  property="goodstype" javaType="goodsType"
	     column="typeid"  fetchType="eager" select="com.yearjane.dao.GoodsDao.queryGoodsType">
	   </association>
	</resultMap>

	<!-- 查询商品类型 -->
	<select id="queryGoodsTypeList" resultMap="goodsTypeResultMap">
		SELECT *
		FROM T_G_TYPE
		WHERE 1=1
		<if test="null==goodsType.parent">
			and parent_id is null
		</if>

		<if test="null!=goodsType.parent">
			and parent_id is not null
		</if>

		<if test="null!=goodsType.parent">
			and parent_id=#{goodsType.parent.typeid}
		</if>
		
		<if test="null!=goodsType.isdeleted">
			and isdeleted=#{goodsType.isdeleted}
		</if>

	</select>

	<!-- 根据typeid查询商品类型 -->
	<select id="queryGoodsType" resultMap="goodsTypeResultMap">
		SELECT typeid,typename
		FROM T_G_TYPE
		WHERE typeid=#{typeid}
	</select>
	
	<!-- 根据typename查询商品类型 -->
	<select id="queryGoodsTypeByTypename" resultMap="goodsTypeResultMap">
		SELECT typeid,typename
		FROM T_G_TYPE
		WHERE typename=#{typename}
		AND
		isdeleted=0
	</select>

	<!-- 更新商品信息 -->
	<update id="updateGoodsType">
		UPDATE T_G_TYPE
		<set>
			<if test="null!=goodsType.typename">
				typename=#{goodsType.typename},
			</if>

			<if test="null!=goodsType.parent">
				parent_id=#{goodsType.parent.typeid},
			</if>

			<if test="null!=goodsType.updateTime">
				update_time=#{goodsType.updateTime},
			</if>

			<if test="null!=goodsType.operatorName">
				operator_name=#{goodsType.operatorName},
			</if>

			<if test="null!=goodsType.isdeleted">
				isdeleted=#{goodsType.isdeleted}
			</if>
		</set>
		WHERE typeid=#{goodsType.typeid}
	</update>

	<insert id="addGoodsType">
      INSERT INTO T_G_TYPE(typename,parent_id,add_time,update_time,operator_name)
      VALUES
      <foreach collection="goodsTypeList" separator="," item="list">
        (
        #{list.typename},
        #{list.parent.typeid},
        #{list.addTime},
        #{list.updateTime},
        #{list.operatorName}
        )
      </foreach>
	</insert>
	
	<insert id="addGoodsInfo">
	   INSERT INTO t_g_info(typeid,goods_name,image_path,introduce,now_price,old_price,create_time,update_time,stock,operator_name,isenable)
	   VALUES
	   (
	    #{goodsInfo.goodstype.typeid},
	    #{goodsInfo.goodsname},
	    #{goodsInfo.imagePath},
	    #{goodsInfo.introduce},
	    #{goodsInfo.nowPrice},
	    #{goodsInfo.oldPrice},
	    #{goodsInfo.createTime},
	    #{goodsInfo.updateTime},
	    #{goodsInfo.stock},
	    #{goodsInfo.operatorName},
	    #{goodsInfo.isenable}
	   )
	</insert> 
	
	<update  id="updateGoodsInfo">
	UPDATE t_g_info 
	  <set>
	    <if test="null!=goodsInfo.goodstype">
	      typeid=#{goodsInfo.goodstype.typeid},
	    </if>
	    <if test="null!=goodsInfo.goodsname">
	      goods_name=#{goodsInfo.goodsname},
	    </if>
	    <if test="null!=goodsInfo.imagePath">
	      image_path=#{goodsInfo.imagePath},
	    </if>
	    <if test="null!=goodsInfo.introduce">
	      introduce=#{goodsInfo.introduce},
	    </if>
	    <if test="null!=goodsInfo.nowPrice">
	      now_price=#{goodsInfo.nowPrice},
	    </if>
	    <if test="null!=goodsInfo.oldPrice">
	      old_price=#{goodsInfo.oldPrice},
	    </if>
	    <if test="null!=goodsInfo.createTime">
	      create_time=#{goodsInfo.createTime},
	    </if>
	    <if test="null!=goodsInfo.updateTime">
	      update_time=#{goodsInfo.updateTime},
	    </if>
	    <if test="null!=goodsInfo.sellCount">
	      sell_count=#{goodsInfo.sellCount},
	    </if>
	    <if test="null!=goodsInfo.isenable">
	      isenable=#{goodsInfo.isenable},
	    </if>
	    <if test="null!=goodsInfo.clickCout">
	      clickcount=#{goodsInfo.clickCout},
	    </if>
	    <if test="null!=goodsInfo.stock">
	      stock=#{goodsInfo.stock},
	    </if>
	    <if test="null!=goodsInfo.operatorName">
	      operator_name=#{goodsInfo.operatorName}
	    </if>
	  </set>
	  WHERE id=#{goodsInfo.id}
	</update>
	
	<update id="deleteGoodsInfo">
	  UPDATE t_g_info SET isdeleted=1
	  WHERE id in
	  <foreach collection="goodsIds" open="(" separator="," close=")" item="id">
	    #{id}
	  </foreach>
	</update>
	
	<select id="getGoodsInfo" resultMap="goodsInfoResultMap">
	   SELECT * FROM t_g_info 
	   WHERE isdeleted=0
	   <if test="null!=goodsInfo.id">
	       AND id=#{goodsInfo.id}
	   </if>
	   
	</select>
	
	<select id="getGoodsInfos" resultMap="goodsInfoResultMap">
	   SELECT * FROM t_g_info 
	   WHERE isdeleted=0 
	   <if test="null!=goodsInfo.goodstype">
	   AND typeid=#{goodsInfo.goodstype.typeid}
	   </if>
	   
	   <if test="null!=goodsInfo.isenable">
	   AND isenable=#{goodsInfo.isenable}
	   </if>
	   
	   <if test="1==goodsInfoSearch.isDiscount">
	   AND old_price!=now_price
	   </if>
	   <if test="0==goodsInfoSearch.isDiscount">
	   AND old_price=now_price
	   </if>
	   
	   ORDER BY clickcount
	   
	   limit #{star},#{end}
	   
	   
	   
	</select>
	
	<select id="getGoodsInfoCount"  resultType="integer">
	  SELECT count(1) FROM t_g_info 
	   WHERE isdeleted=0 
	   <if test="null!=goodsInfo.goodstype">
	   AND typeid=#{goodsInfo.goodstype.typeid}
	   </if>
	   
	   <if test="null!=goodsInfo.isenable">
	   AND isenable=#{goodsInfo.isenable}
	   </if>
	   
	   <if test="1==goodsInfoSearch.isDiscount">
	   AND old_price!=now_price
	   </if>
	   
	   <if test="0==goodsInfoSearch.isDiscount">
	   AND old_price=now_price
	   </if>
	  
	</select>
	
	<select  id="searchGoodsnameExist" resultMap="goodsInfoResultMap">
	
	   SELECT goods_name FROM t_g_info 
	   WHERE isdeleted=0  
	   <if test="null!=goodsInfo.id">
	   AND id !=#{goodsInfo.id}
	   </if>
	   <if test="null!=goodsInfo.goodsname">
	   AND goods_name=#{goodsInfo.goodsname}
	   </if>
	
	</select>
	
	<select id="getFirstPageGoodsInfos" resultMap="goodsInfoResultMap">
	  SELECT * FROM  t_g_info 
	  WHERE isdeleted=0 
	  <if test="null!=goodsInfoSearch.isDiscount">
	   AND old_price!=now_price
	  </if>
	  
	  <if test="null!=goodsInfoSearch.isHot">
	  AND clickcount>10
	  </if>
	  
	  <if test="null!=goodsInfoSearch.isNewGoods"  >
	    AND create_time>=DATE_SUB(NOW(),INTERVAL 5 DAY)
	  </if>
	  
	  AND isenable=1
	  
	  ORDER BY  clickcount,create_time
	</select>
	
	
	<select id="getGoodsInfoByGid" resultMap="goodsInfoResultMap">
	 SELECT * FROM  t_g_info 
	  WHERE isdeleted=0 AND id=#{gid}
	</select>
	
	<select id="searchSimilarGoods" resultMap="goodsInfoResultMap" >
	SELECT * FROM t_g_info 
	WHERE isdeleted=0 AND isenable=1
	  <if test="null!=goodsInfo.goodstype">
		AND typeid=#{goodsInfo.goodstype.typeid}
	  </if>
	</select>
	
	<select id="getSearchPageGoods" resultMap="goodsInfoResultMap">
	
	SELECT * FROM t_g_info 
	WHERE isdeleted=0  AND isenable=1
	
	<if test="null!=searchPage.keyWord">
	  AND goods_name like '%${searchPage.keyWord}%'  OR introduce like '%${searchPage.keyWord}%'
	</if>
	
	<if test="null!=searchPage.searchId">
	  <if test="0==searchPage.searchId">
	  AND old_price!=now_price
	  </if>
	  <if test="1==searchPage.searchId">
	    AND clickcount>10
	  </if>
	  <if test="2==searchPage.searchId">
	  AND create_time>=DATE_SUB(NOW(),INTERVAL 5 DAY)
	  </if>
	</if>
	
	<if test="null!=searchPage.typeid">
	AND typeid=#{searchPage.typeid}
	</if>
	  
	  ORDER BY  clickcount,create_time
	   limit #{star},#{end}
	</select>
	
	<select id="getSearchPageGoodsCount" resultType="integer">
	SELECT count(1) FROM t_g_info 
	WHERE isdeleted=0  AND isenable=1
	
	<if test="null!=searchPage.keyWord">
	  AND goods_name like '%${searchPage.keyWord}%'  OR introduce like '%${searchPage.keyWord}%'
	</if>
	
	<if test="null!=searchPage.searchId">
	  <if test="0==searchPage.searchId">
	  AND old_price!=now_price
	  </if>
	  <if test="1==searchPage.searchId">
	    AND clickcount>10
	  </if>
	  <if test="2==searchPage.searchId">
	  AND create_time>=DATE_SUB(NOW(),INTERVAL 5 DAY)
	  </if>
	</if>
	
	<if test="null!=searchPage.typeid">
	AND typeid=#{searchPage.typeid}
	</if>
	
	</select>
	
	<select id="getSell"  resultMap="goodsInfoResultMap">
	  SELECT * FROM t_g_info 
	  WHERE isdeleted=0
	  <if test="null!=typeid">
	   AND typeid=#{typeid}
	  </if>
	  ORDER BY  sell_count DESC
	  <if test="null!=size">
	   LIMIT 0,#{size}
	  </if>
	</select>
	
	<select id="getStock"  resultMap="goodsInfoResultMap">
	  SELECT * FROM t_g_info 
	  WHERE isdeleted=0
	  <if test="null!=typeid">
	   AND typeid=#{typeid}
	  </if>

	  <if test="null!=size">
	   AND #{size} <![CDATA[ >= ]]>stock
	  </if>
	  <if test="null!=keyword">
	  AND goods_name like '%${keyword}%'  OR introduce like '%${keyword}%'
	</if>
	  ORDER BY stock
	</select>
</mapper>